@media(min-width:1200px){
    /* 1440px X 900px */
    .wrapper {
        max-width: 1640px;
        margin: 0 auto;
    }
    .wrap__sections{
        /* border: 22px solid red; */
        background-image: url(images/banner/banner.png);
        background-size: 100% 80%;
        background-repeat: no-repeat; 
    }

    .nav {
        display: flex;
        justify-content: space-around;
        background-color: transparent;
        background-image: url(images/banner/banner.png);
        height: 13vh;
    }
    .nav__logo{
        justify-content: flex-start;
        /* border: 2px solid darkgreen; */
        margin-left: -30px;
    }
    .nav__img-logo{
        width: 48%;
        height:45%;
        /* border: 2px solid red; */
    }    
    .nav__container-ul{
        position: static;
        display: flex;
        padding: 0;
        flex-basis: 60%;
        visibility: visible;
        background-color: transparent;
        /* border: 2px solid red; */
    }
    .nav__ul {
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
        /* border: 2px solid yellow; */
        align-self: center;
        text-align: center;
        justify-content: flex-start;
        margin-left: 105px;
        
    }
    .nav__li {
        /* border: 2px solid green; */
        font-size: 16px;
        flex-basis: 11%;
        font-weight: 300;
        margin: 0 8px;
    }
    .nav__li:hover{
        color: yellowgreen;
        transition: .2s;
        cursor: pointer;
    }
    .nav__menu-icon{
        position: absolute;
        top: -20%;
    }
    .nav__li-icon{
        margin-left: 6px;
        vertical-align: -1px;
    }
    .nav__button-download{
        position: static;
        visibility: visible;
        display: flex;
        align-self: center;
        background-color: #42b3fa;
        margin-right: -25px;
        padding: 15px 25px;
        border-radius: 5px;
        cursor: pointer;
        color: white;
        border: 1px solid transparent;
        letter-spacing: 1px;
        font-weight: 400;
        font-size: 16px;
    }
    .nav__button-download:hover{
        color: yellow;
        border: 1px solid black;
        transition: .3s;
    }

    .section-one-container{
        justify-content: center;
        height: 106vh;
        /* border: 2px solid red; */
        background-size: 100% 90%;
    }
    .section-one-container__part-one-info{
        /* border: 2px solid yellow; */
        flex-basis: 55%;
        margin-left: 40px;
    }
    .section-one__title{
        font-size: 50px;
        /* border: 2px solid green; */
        width: 90%;
        margin-left: 50px;
        margin-top: 70px;
        letter-spacing: 2px;
        font-weight: 200;
        line-height: 62px;

    }
    .section-one__describe{
        /* border: 2px solid red; */
        width: 90%;
        margin-left: 50px;
        margin-top: 25px;
        font-size: 18px;
        font-weight: 400;
    }
    .section-one__start{
        width: 25%;
        padding: 15px 0;
        font-size: 16px;
        margin-left: 50px;
        margin-top: 60px;
        padding: 20px 0;
        background-color: #37EBED;
        font-weight: 400;
        letter-spacing: 2px;
        cursor:pointer;
        border-radius: 8px;
        border: 1px solid transparent;    
        color: white;
    }
    .section-one__start:hover{
        background-color: #2C2C2C;
        transition: .2s;
    }
    .section-one-container-img{
        top: 60%;
        left: 40%;
        transform: translate(-50%,-50%);
        width: 70%;
        height: 88%;
    }


    .section-two__title{
        font-size: 46px;
        width: 30%;
        margin-top: 200px;
        /* border: 2px solid red; */
        line-height: 60px;
    }
    .section-two{
        margin-top: 60px;
        /* border: 2px solid red; */
        width: 85%;
        margin: 80px auto 0 auto;
        justify-content: center;
        /* background-color: red; */
    }
    .section-two__container{
        flex-basis: 20%;
        margin: 30px 50px 0 50px;
        /* border: 2px solid blue; */
    }

    .section-two__icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 105px;
        height: 110px;
        border-radius: 20px;
        margin-top: 15px;
        /* background-color: #4BA9FD; */
        border: 2px solid transparent;
    }
    .section-two__picture-svg{
        /* font-size: 50px; */
        width: 50%;
        height: 50%;  
        color: white;  
    }
    .section-two__describe{
        width: 90%;
        font-size: 22px;
        text-align: center;
        font-weight: 300;
        margin-top: 35px;
        /* border: 2px solid green; */
    }





    .section-three{
        display: flex;
        flex-direction: row;
        width: 90%;
        height: 60vh;
        margin: 0 auto 140px auto;
        margin-top: 10%;
        
    }
    .section-three__container-one{
        display: flex;
        flex-basis: 50%;
        flex-direction: column;
        margin-top: 60px;
        /* border: 2px solid black; */
        /* align-self: flex-start; */
    }
       
    .section-three__title{
        width: 80%;
        margin: 0 auto;
        text-align: left;
        font-size: 38px;
        font-weight: 300;
        margin-bottom: 20px;
        letter-spacing: 1px;
        /* border: 2px solid green; */
    }
    .section-three__describe{
        width: 80%;
        font-size: 15px;
        margin: 0 auto;
        line-height: 32px;
        font-weight: 200;
        text-align: justify;
    }
    .section-three__download{
        box-sizing: content-box;
        display: block;
        width: 25%;
        margin: 25px 0 0 68px;
        padding: 13px;
        font-size: 16px;
        border-radius: 5px;
        color: white;
        letter-spacing: 1.5px;
        border: 1px solid transparent;
        background-color:#0181f5;
        cursor: pointer;
    }
    .section-three__container-two{
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 2px solid blue; */
    
    }
    .section-three__picture{
        width: 93%;
        height: 58%;
        /* border: 2px solid red; */
    }



    


    .section-four{
        display: flex;
        position: relative;
        height: 80vh;
        background-image: url(images/banner/testmonial.png);
        background-position: center; 
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 1;
    
    }
    
    .section-four::before {
        content: '';
        display:block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: .85;
        background-color: #6bb7fd;
    }
    .section-four__container {
        position: relative;
        display: flex;
        flex-direction: column;
        color: white;
    }
        
    .section-four__title{
        align-self: center;
        width: 30%;
        text-align: center;
        margin: 150px 0 20px 0;
        font-size: 38px;
        line-height: 56px;
        font-weight: 300;
        /* letter-spacing: 1px; */
        /* border: 2px solid red; */
    }
    .section-four__describe{
        width: 60%;
        align-self: center;
        text-align: center;
        margin: 65px 0 20px 0;
        font-size: 18px;
        line-height: 33px;
        font-weight: 400;
    }
    
    .section-four__stars{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    .section-four__icon-star{
        align-self: center;
        margin: 0 1px;
        color: rgb(249, 200, 4);
        
    }
    .section-four__sign{
        align-items: center;
        font-size: 12px;
        font-weight: 400;
    
    }







    .section-five{
        display: flex;
        flex-direction: column;
        margin-top: 130px;
    }
    .section-five__title{
        align-self: center;
        font-size: 42px;
        padding: 30px 0;
        font-weight: 300;
        
    }
    .section-five__describe{
        width: 40%;
        align-self: center;
        text-align: center;
        padding-bottom: 20px;
        margin-bottom: 40px;
        font-style: 24px;
        font-weight: 200;
        /* border: 2px solid red; */
    }



                        /* DO ZROBIENIA */

    .section-six{
        display: flex;
        flex-direction: row;
        width: 70%;
        margin: 0 auto;
        /* border: 2px solid red; */
    }
    
    .section-six__container{
        width: 90%;
        margin: 20px auto 0 auto;
        /* border: 2px solid green; */
        box-shadow: 4px 5px 12px -8px rgba(66, 68, 90, 1);
        padding-bottom: 25px;
    }
    
    .section-six__title-container{ 
        display: flex;   
        justify-content: space-between;
        margin: 0 0 20px 0;
        padding: 15px 0;
        /* border: 2px solid red; */
        
    }
    .section-six__title-container--color-1{
        background-color: #e9f4fe;
        /* background-color: black; */
    }
    .section-six__title-container--color-2{
        background-color: #fef4ee;
    }
    .section-six__title-container--color-3{
        background-color: #e8fcf1;
    }
    
    .section-six__title{
        margin-left: 30px;
        font-size: 20px;
        font-weight:500;
        /* border: 2px solid hotpink;    */
    }
    .section-six__price{
        margin-right: 30px;
        font-size: 20px;
        color: blue;
        /* border: 2px solid red; */
    }
    .section-six_ul{
        display: flex;
        margin-top: 30px;
        flex-direction: column;
        /* align-items: center; */
        /* border: 2px solid green; */
    }
    .section-six__li{
        margin: 12px 0;
        font-weight: 400;
        font-size: 16px;
        color: #666;
        list-style: none;
        font-weight: 400;
    }           
    .section-six__getNow{
        display: block;
        width: 40%;
        padding: 12px 15px;
        margin: 25px auto 5px auto;
        font-size: 16px;
        border-radius: 5px;
        color: #4BA9FD;
        background-color: white;
        border: 2px solid #4BA9FD;
    }





    .section-seven{
        display: flex;
        margin-top: 130px;
        height: 60vh;
        background-color: #5db2ff;
    }
    .section-seven__container{
        display: flex;
        margin: 0 auto;
        width: 80%;
        /* border: 2px solid red; */
    }
    .section-seven__title{
        width: 100%;  
        /* border: 2px solid orange; */
    }
    .section-seven__describe{
        font-size: 42px;
        width: 100%;
        color: white;
        font-weight: 300;
        text-align: left;
        /* border: 2px solid yellowgreen; */
    }
    .section-seven-icons{
        display: flex;
        width: 80%;
        justify-content: center;
        flex-direction: row;
        /* border: 2px solid black; */

    }
    .section-seven__container-one{
        display: flex;
        justify-content: center;
        width: 40%;
        /* border: 4px solid pink; */

    }
    .section-seven__container-two{
        display: flex;
        /* width: 40%; */
        
        justify-content: center;
        /* border: 4px solid blue; */
        
    }
    .section-seven__icon-one{
        width: 85%;
        cursor: pointer;
        /* border: 2px solid orange; */
        
    }
    .section-seven__icon-two{
        width:93%;
        cursor: pointer;
        /* border: 2px solid violet; */

    }




    .section-eight{
        height: 60vh;
        padding-top: 100px;
        background-color:#1f1f1f;
        /* padding-bottom: 70px; */
        /* border: 2px solid yellow; */
    }
    .section-eight__container{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin-left: 40px;
        margin-top: 30px;
        /* border: 3px solid yellowgreen; */
    }
    .section-eight__part-one{
        display: flex;
        flex-direction: column;
        flex-basis: 30%;
        /* border: 2px solid firebrick; */
    }
    .section-eight__container-logo-part-one{
        display: flex;
        /* border: 2px solid red; */
    }
    .section-eight__logo-part-one{
        width: 22%;
        margin-left: 10px;
        margin-top: 8px;
    }
    .section-eight__describe-container-one{
        width: 90%;
        margin: 31px 0 20px 10px;
        color: #8b898d;
        font-size: 16px;
        font-weight: 400;
        /* border: 2px solid red; */
    }
    .section-eight__container-icons{
        display: flex;   
        margin-left: 5px;
        margin-top: 40px;
    }
    .section-eight__container-icons-circle{
        display: flex;
        justify-content: center;
        width: 35px;
        height: 35px;
        margin: 5px 5px 30px 5px;
        border: 2px solid #565656;
        background-color: #565656;
        border-radius: 50%;
        cursor: pointer;
    }
    .section-eight__icon{
        font-size: 20px;
        color: #c7c7c7;
        align-self: center;
        
    }
    


    .section-eight__title{
        width: 70%;
        color: white;
        font-weight: 300;
        font-size: 26px;
        /* border: 2px solid green; */
    }
    .section-eight__part-two{
        display: flex;
        flex-basis: 15%;
        flex-direction: column;
        /* border: 2px solid red; */
        margin-left: 200px;
    }
    .section-eight__ul{
        /* border: 2px solid red; */
    }
    .section-eight__li{
        margin: 20px 0 20px 10px;
        color: #8b898d;
        font-size: 16px;
        list-style: none;
        font-weight: 500;
        /* border: 1px solid yellowgreen; */
    }
    .section-eight__part-three{
        display: flex;
        flex-basis: 15%;
        flex-direction: column;
        margin-top: 0;
        /* border: 2px solid navajowhite; */
    }
    
    .section-eight__part-four {
        display: flex;
        flex-basis: 18%;
        flex-direction: column;
        margin-top: 0;
        /* border: 2px solid magenta; */
    }



    .footer{
        display: flex;
        padding: 30px 10px;
        justify-content: center;
        background-color:black;
        /* border:2px solid yellow */
    }
    .footer__describe{
        width: 98%;
        color: #8b898d;
        font-size: 15px;
        font-weight: 500;
        text-align: center;
        /* border: 2px solid yellow; */
    }
    .footer__icon{
        color: #8b898d;
        font-size: 15px;
        font-weight: 500;
    }
    .footer__span{
        color: #1152af;
        font-size: 15px;
        font-weight: 500;
    }


}
