*{
    margin: 0;
    padding: 0;
    
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.nav {
    display: flex;
    align-self: center;
    height: 6vh;
    width: 100%;
    background-color: #2C2C2C;
}
.nav__logo {
    display: flex;
    align-self: center;
    justify-content: center;
    /* border: 2px solid yellow; */
    width: 25%;
    height: 75%;
    margin-left: 10px;

}
.nav__img-logo { 
    width: 80%;
    height: 70%;
    /* border: 1px solid red; */
    align-self: center;

}

.nav__menu {
    display: flex;
    margin-left: 60%;
    /* border: 2px solid yellow; */
}


.nav__menu-icon{
    align-self: center;
    
    /* border: 2px solid yellowgreen; */
    font-size: 21px;
    color: white;

}

                            /* SECTION ONE */
.section-one{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 93.5vh;
    background-image: url(images/banner/banner.png);
    background-position: center;
    background-size: cover;
    color: white;
    /* border: 1px solid green; */
}

.section-one__title{
    width: 80%;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 2px;
    /* border: 1px solid red; */
    margin: 30px auto 0 10px;
}
.section-one__describe{
    width: 90%;
    font-size: 12px;
    font-weight: 300;
    margin: 10px auto 0 10px;
    letter-spacing: .5px;
    /* border: 1px solid red; */

}
.section-one__start{
    width: 38%;
    font-size: 11px;
    margin:35px 0 0 10px;
    padding: 10px 0;
    background-color: #37EBED;
    border-radius: 3px;
    border: 1px solid transparent;    
    color: white;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.section-one__pohone-logo{
    
    width: 92%;
    position: absolute;
    top: 71.5%;
    left: 50%;
    transform: translate(-50%,-50%);
}