@media(min-width:900px){
    .tablet {
        flex-direction: row;
        /* border: 2px solid green; */
    }

    .nav {
        display: flex;
        align-self: center;
        justify-content: space-between;
        height: 7.5vh;
        width: 100%;
        background-color: #2C2C2C;
    }
    .nav__logo {
        display: flex;
        align-self: center;
        justify-content: center;
        width: 13%;
        height: 75%;
        margin-left: 13px;
        /* border: 2px solid red; */
    
    }
    .nav__img-logo { 
        width: 80%;
        height: 70%;
        align-self: center;
    
    }
    
    .nav__menu-icon{
        display: flex;
        margin-right: 45px;
        align-self: center;
        /* border: 2px solid yellowgreen; */
        font-size: 30px;
        color: white;
    
    }

    .nav__container-ul{
        display: flex;
        position: absolute;
        width: 100%;
        padding: 20px 0;
        justify-content: center;
        background-color: #2C2C2C;
        top: 6%;
        visibility: hidden;
    }
    
    .nav__menu-icon:active{
        transform: rotate(-90deg);
        transition: .4s;
    }
    
    .nav__menu-icon:active ~ .nav__container-ul{
        visibility: visible;
    
    }
    
    .nav__button-download{
        position: absolute;
        top: -10%;
        visibility: hidden;
    }
    
    .nav__li {
        font-size: 18px;
        margin-bottom: 8px 0;
        margin: 8px;
        list-style: none;
        color: white;
        /* border: 2px solid yellowgreen; */
    }
    .nav__li-icon {
        margin-left: 6px;
        font-size: 16px;
    }


    
    .section-one-container{
        display: flex;
        background-position: top;
        height: 85vh;
        background-image: url(images/banner/banner.png);
        background-size: 100% 85%;
        background-repeat: no-repeat; 
        /* border: 2px solid black; */
    }
    .section-one-container__part-one-info{
        flex-basis: 55%;
        align-self: center;
        padding-bottom: 200px;
        color: white;
        
        /* border: 2px solid red; */
    }
    .section-one-container__part-two-picture{
        flex-basis: 45%;
        /* z-index: 0; */
    }
    .section-one__title{  
        width: 60%;
        font-size: 32px;
        margin: 10px 0 5px 100px;
        line-height: 40px;
        font-weight: 300;
        /* border: 2px solid burlywood; */
    }
    .section-one__describe{
        width: 70%;
        margin-left: 100px;
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 15px;
        /* border: 2px solid black; */
    }
    .section-one__start{
        width: 43%;
        padding: 15px 0;
        font-size: 16px;
        margin-left: 100px;      
    }
    .section-one-container-img{
        position: relative;
        width: 83%;
        height: 75%;
        left: 32%;
        top: 54%;
        transform: translate(-50%,-50%);
        /* border: 2px solid red; */
        z-index: 0;
    }

    .section-one__start{
        width: 38%;
        margin:30px 0 0 100px;
        font-size: 16px;
        font-weight: 400;
        padding: 13px 0;
        background-color: #37EBED;
        border-radius: 5px;
        border: 1px solid transparent;    
        color: white;
        letter-spacing: 1.5px;
        cursor:pointer
    }

    
    .section-two__title{
        width: 40%;
        margin: 160px auto 70px auto;
        line-height: 42px;
        text-align: center;
        font-size: 32px;
        font-weight: 300;
        /* border: 1px solid blue; */
    }
    
    .section-two{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 85%;
        margin: 0 auto;
        justify-content: center;
        color: black;
        /* border: 2px solid red; */
    }
    
    .section-two__container{
        display: flex;
        flex-basis: 27%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 10px 0 0x 0;
        /* border: 1px solid red; */
    }
    .section-two__icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85px;
        height: 90px;
        border-radius: 20px;
        margin-top: 15px;
        background-color: #4BA9FD;
        border: 2px solid transparent;
        /* border: 2px solid blue; */
    }
    .section-two__icon--color-blue{
        /* background-image: linear-gradient(222deg, rgba(75, 169, 253, 1) 34%, rgba(41, 78, 86, 1) 100%, rgba(89, 131, 252, 1) 99%); */
        background-color:#47a6fc;
    }
    .section-two__icon--color-orange{
        /* background-color: rgb(255, 165, 0); */
        background-color: #fda55c
    }
    .section-two__icon--color-green{
        /* background-color: forestgreen */
        background-color: #37ef8d
    }
    
    .section-two__picture-svg{
        /* font-size: 50px; */
        width: 50%;
        height: 50%;  
        color: white;  
    }
    .section-two__describe{
        width: 80%;
        font-size: 18px;
        text-align: center;
        font-weight: 300;
        margin-top: 20px;
    }
    .section-two__describe-width{
        width: 60%;
    } 



   
    .section-three{
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: 0 auto 140px auto;
        margin-top: 10%;
        /* border: 2px solid red; */
    }
    .section-three__container-one{
        display: flex;
        flex-basis: 60%;
        flex-direction: column;
    }
    .section-three__title{
        width: 90%;
        margin: 0 auto;
        text-align: left;
        font-size: 32px;
        font-weight: 300;
        margin-bottom: 20px;
    }
    .section-three__describe{
        width: 90%;
        font-size: 15px;
        margin: 0 auto;
        line-height: 32px;
        font-weight: 200;
        text-align: justify;
    }
    .section-three__download{
        box-sizing: content-box;
        display: block;
        width: 40%;
        margin: 25px 0 0 18px;
        padding: 13px 20px;
        font-size: 14px;
        border-radius: 5px;
        color: white;
        letter-spacing: 1.5px;
        border: 1px solid transparent;
        background-color:#0181f5;
        cursor: pointer;
    }
    .section-three__container-two{
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .section-three__picture{
        width: 85%;
        height: 58%;
    }





    .section-four{
        display: flex;
        position: relative;
        height: 60vh;
        background-image: url(images/banner/testmonial.png);
        background-position: center; 
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 1;
    
    }
    
    .section-four::before {
        content: '';
        display:block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: .85;
        background-color: #6bb7fd;
    }
    .section-four__container {
        position: relative;
        display: flex;
        flex-direction: column;
        color: white;
    }
        
    .section-four__title{
        align-self: center;
        width: 35%;
        text-align: center;
        margin: 95px 0 20px 0;
        font-size: 30px;
        line-height: 38px;
        font-weight: 300;
        letter-spacing: 1px;
    }
    .section-four__describe{
        width: 95%;
        align-self: center;
        text-align: center;
        margin: 65px 0 20px 0;
        font-size: 16px;
        line-height: 23px;
        font-weight: 400;
    }
    
    .section-four__stars{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    .section-four__icon-star{
        align-self: center;
        margin: 0 1px;
        color: rgb(249, 200, 4);
        
    }
    .section-four__sign{
        align-items: center;
        font-size: 12px;
        font-weight: 400;
    
    }


    .section-five{
        display: flex;
        flex-direction: column;
        margin-top: 140px;
    }
    .section-five__title{
        align-self: center;
        font-size: 34px;
        padding: 20px 0;
        font-weight: 300;
    }
    .section-five__describe{
        width: 75%;
        align-self: center;
        text-align: center;
        padding-bottom: 20px;
        font-style: 24px;
        font-weight: 200;
    }





    .section-six{
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: 0 auto;
        /* border: 2px solid red; */
    }
    
    .section-six__container{
        width: 90%;
        margin: 20px auto 0 auto;
        /* border: 2px solid ; */
        box-shadow: 4px 5px 12px -8px rgba(66, 68, 90, 1);
        padding-bottom: 25px;
    }
    
    .section-six__title-container{ 
        display: flex;   
        justify-content: space-between;
        margin: 0 0 20px 0;
        padding: 15px 0;
        /* border: 2px solid red; */
        
    }
    .section-six__title-container--color-1{
        background-color: #e9f4fe;
        /* background-color: black; */
    }
    .section-six__title-container--color-2{
        background-color: #fef4ee;
    }
    .section-six__title-container--color-3{
        background-color: #e8fcf1;
    }
    
    .section-six__title{
        margin-left: 30px;
        font-size: 20px;
        font-weight:500;
        /* border: 2px solid hotpink;    */
    }
    .section-six__price{
        margin-right: 30px;
        font-size: 20px;
       
        color: blue;
        /* border: 2px solid red; */
    }
    .section-six_ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* border: 2px solid green; */
    }
    .section-six__li{
        margin: 12px 0;
        font-weight: 400;
        font-size: 16px;
        color: #666;
        list-style: none;
        font-weight: 400;
    }           
    .section-six__getNow{
        display: block;
        width: 40%;
        padding: 12px 15px;
        margin: 25px auto 5px auto;
        font-size: 16px;
        border-radius: 5px;
        color: #4BA9FD;
        background-color: white;
        border: 2px solid #4BA9FD;
    }





    .section-seven{
        display: flex;
        margin-top: 130px;
        height: 60vh;
        background-color: #5db2ff;
    }
    .section-seven__container{
        margin: 0 auto;
        align-self: center;
        /* border: 2px solid blue; */
    }
    .section-seven__title{
        width: 100%;  
        /* border: 2px solid orange; */
    }
    .section-seven__describe{
        font-size: 34px;
        width: 100%;
        color: white;
        font-weight: 300;
        text-align: left;
        /* border: 2px solid yellowgreen; */
    }
    .section-seven-icons{
        display: flex;
        width: 80%;
        margin: 20px auto;
        margin-left: 20%;
        /* border: 2px solid red; */

    }
    .section-seven__container-one{
        display: flex;
        justify-content: center;
        align-self: center;
        width: 40%;
        /* border: 2px solid black; */

    }
    .section-seven__container-two{
        display: flex;
        width: 40%;
        align-self: center;
        justify-content: flex-end;
        /* border: 4px solid blue; */
        
    }
    .section-seven__icon-one{
        width: 95%;
        /* border: 2px solid orange; */
        
    }
    .section-seven__icon-two{
        width:100%;
        /* border: 2px solid orange; */

    }



    .section-eight{
        padding-top: 100px;
        background-color:#1f1f1f;
        padding-bottom: 70px;
        /* border: 2px solid yellow; */
    }
    .section-eight__container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        /* border: 3px solid yellow; */
    }
    .section-eight__part-one{
        display: flex;
        flex-direction: column;
        flex-basis: 36%;
        /* border: 2px solid gold; */
    }
    .section-eight__container-logo-part-one{
        display: flex;
        /* margin-top: 40px; */
        /* border: 2px solid red; */
    }
    .section-eight__logo-part-one{
        width: 27%;
        margin-left: 10px;
        margin-top: 8px;
    }
    .section-eight__describe-container-one{
        width: 95%;
        margin: 31px 0 20px 10px;
        color: #8b898d;
        font-size: 16px;
        font-weight: 400;
        /* border: 2px solid red; */
    }
    .section-eight__container-icons{
        display: flex;   
        margin-left: 5px;
        margin-top: 33px;
    }
    .section-eight__container-icons-circle{
        display: flex;
        justify-content: center;
        width: 35px;
        height: 35px;
        margin: 5px 5px 30px 5px;
        border: 2px solid #565656;
        background-color: #565656;
        border-radius: 50%;
        cursor: pointer;
    }
    .section-eight__icon{
        font-size: 20px;
        color: #c7c7c7;
        align-self: center;
        
    }
    
    .section-eight__part-two{
        display: flex;
        flex-basis: 35%;
        flex-direction: column;
        /* border: 2px solid red; */
    }
    .section-eight__title{
        margin: 0 0 10px 10px;
        color: white;
        font-weight: 300;
        font-style: 18px;
    }
    .section-eight__ul{
        /* border: 2px solid red; */
    }
    .section-eight__li{
        margin: 20px 0 20px 10px;
        color: #8b898d;
        font-size: 14px;
        list-style: none;
        font-weight: 500;
        /* border: 1px solid yellowgreen; */
    }
    .section-eight__part-three{
        display: flex;
        flex-basis: 35%;
        flex-direction: column;
        margin-top: 25px;
    }
    
    .section-eight__part-four {
        display: flex;
        flex-basis: 35%;
        flex-direction: column;
        margin-top: 25px;
    }



    .footer{
        display: flex;
        padding: 30px 10px;
        justify-content: center;
        background-color:black;
        /* border:2px solid yellow */
    }
    .footer__describe{
        width: 98%;
        color: #8b898d;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        /* border: 2px solid yellow; */
    }
    .footer__icon{
        color: #8b898d;
        font-size: 12px;
        font-weight: 500;
    }
    .footer__span{
        color: #1152af;
        font-size: 12px;
        font-weight: 500;
    }

}
